<div class="form-floating mb-3">
  <%= @supplier.name %>
</div>
<div class="form-floating mb-3">
  <%= @supplier.address %>
</div>
<div class="form-floating mb-3">
  <%= @supplier.abn %>
</div>
<div class="form-floating mb-3">
  <%= @supplier.description %>
</div>

<div id="<%= dom_id supplier %>" class="scaffold_record">
  <p>
    <%= link_to "Show this supplier", supplier %>
  </p>
</div>
